{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Caranda2</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
    <body>
        {% include 'navbar.html' %}

        <main>
          {% if messages %}
              {% for message in messages %}
              <p  id="message" class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
              {% endfor %}
          {% endif %}
          
          {% block content %}{% endblock %}
        </main> 

        <footer>
        {% include 'footer.html' %}
        </footer>

    <!-- JavaScript (Opcional) -->
    <script>
      // Função para esconder a mensagem após um determinado período
      function hideMessage() {
        var message = document.getElementById("message");  // Substitua "message" pelo ID real da sua mensagem
        if (message) {
          setTimeout(function() {
            message.style.display = 'none';
          }, 7000);  // 5000 milissegundos (5 segundos) - ajuste conforme necessário
        }
      }
    
      // Chame a função assim que a página carregar
      window.onload = hideMessage;
    </script>
    <script>
      function checkCapsLock(event, capsLockWarningId) {
          const capsLockWarning = document.getElementById(capsLockWarningId);
          if (!capsLockWarning) return;
      
          event = event || window.event;
          const keyCode = event.keyCode || event.which;
      
          if (keyCode >= 65 && keyCode <= 90) {
              const isCapsLockOn = event.getModifierState('CapsLock');
              if (isCapsLockOn) {
                  capsLockWarning.textContent = 'Caps Lock está ligado!';
              } else {
                  capsLockWarning.textContent = ''; // Limpa a mensagem de aviso.
              }
          } else {
              capsLockWarning.textContent = ''; // Limpa a mensagem de aviso se a tecla não for uma letra maiúscula.
          }
      }
      </script>
      
        
      
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    </body>
</html>