{% load static %}

<!-- Rodapé -->
<footer>
    <p>Copyright &copy; 2023.</p>
    <p>Desenvolvido por Jonathas Oliveira <a href="https://www.linkedin.com/in/jonathasrobison/" target="_blank">Linkedin</a></p>
    <p>Linguagem de programação Python. <a href="https://docs.python.org/3/" target="_blank" rel="noopener noreferrer">Saiba Mais</a> </p>
    <p>Frameworks Django <a href="https://www.djangoproject.com/community/" target="_blank" rel="noopener noreferrer">Saiba Mais</a></p>
</footer>
<!-- Fim do rodapé -->